# Config backend
ML_SERVICE_URL=http://ml-service:8000
SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=

# Database Configuration
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=churninsight
MYSQL_USER=churnuser
MYSQL_PASSWORD=churnpass

# Spring Datasource Configuration
SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/churninsight
SPRING_DATASOURCE_USERNAME=churnuser
SPRING_DATASOURCE_PASSWORD=churnpass
