# Google APIs
GOOGLE_CREDENTIALS_FILE=config/google_credentials.json
GMAIL_CLIENT_ID=your_client_id
GMAIL_CLIENT_SECRET=your_client_secret
GMAIL_REFRESH_TOKEN=your_refresh_token

# Gmail
GMAIL_SENDER=your_email@gmail.com
GMAIL_RECIPIENT=your_email@gmail.com

# Google Sheets
SPREADSHEET_ID=your_sheet_id

# Telegram
TELEGRAM_BOT_TOKEN=your_bot_token
TELEGRAM_CHAT_ID=your_chat_id

# Others
DRY_RUN=true
