spring:
  application:
    name: churninsight
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
    enabled: true
    path: /h2-console

  jpa:
    hibernate:
      ddl-auto: create-drop  # Recrea tablas cada vez que inicias
    show-sql: true  # Muestra las queries SQL en consola
    properties:
      hibernate:
        format_sql: true